# Dependency directories
node_modules/
/client/node_modules
/server/.dart_tool
/server/.packages
/server/build

# Build output
/client/dist
/client/.vite

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*.local
/server/.env

# IDE-specific
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db
